.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}
#popup {
  display: none;
}
.box {
  background: white;
  padding: 2em;
}
.bordered {
  border-radius: 10px 10px 10px 10px;
  box-shadow: 10px 10px 30px 10px rgba(0,0,0,0.75);
}
iframe {
  height: inherit;
  width: 810px;
  border: none;
  overflow: hidden;
}

#popup #close {
  float: right;
  font-size: 200%;
  font-weight: bold;
  cursor: pointer;
}